version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672" # UI port
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq # Persist RabbitMQ data
    networks:
      - corems-network

networks:
  corems-network:
    external: true
    name: corems-network